<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>TCE HELP DESK</title>
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.2/css/bootstrap.min.css" integrity="sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.13.1/datatables.min.css"/>
    <script src="https://kit.fontawesome.com/1d01c0f1dd.js" crossorigin="anonymous"></script>
    <link href="assets/css/header1.css" rel="stylesheet">
    <link href="assets/css/footer1.css" rel="stylesheet">


</head>
 
<body>
    <header>
        <div class="wrapper" style="width: 90%;float:center; padding-left:70px;">
             <nav>
                <img src="assets/img/logo.png" alt="Italian Trulli"  style=" float:left;width:150px;height:150px;">
                <span style="font-size: 20px;">THIAGARAJAR COLLEGE OF ENGINEERING<br><span style="font-size: 20px;">Madurai 625 015</span></span>
                <ul>
                    <li><a class="active" href="http://localhost:8080/">Home</a></li>
                    <li><a class="active" href="/viewbookdetails">Library Books</a></li>
                    <li><a class="active" href="/vieweventdetails">Events</a></li>
                    <li><a href="#">More<i class="fas fa-caret-down"></i></a>
                    <ul>
                        <li><a href="http://localhost:8080/faqs">FAQs</a></li>
                        <li><a href="https://www.mycamu.co.in/#/">Mycamu</a></li>
                        <li><a href="#">FeeStructure</a></li>
                        <li><a href="http://localhost:8080/career">Career</a></li>
                    </ul>
                    </li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>